<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Dev1</string>
		<key>displayName</key>
		<string>Development 1</string>
		<key>displayDescription</key>
		<string>Uses andev1.urbanout.com</string>
		<key>settings</key>
		<dict>
			<key>AnthroHostString</key>
			<string>andev1.urbanout.com</string>
			<key>AnthroAPIPath</key>
			<string>/api/v1/</string>
			<key>AntroHostScheme</key>
			<string>http</string>
			<key>CrittercismAPIKey</key>
			<string>536cebc9d478bc522f000003</string>
			<key>AppBoyKey</key>
			<string>b0f43a1a-ff82-4886-8d7b-5652fd3ef2e2</string>
			<key>CocoaLumberJackFileLoggingLevel</key>
			<string>00001</string>
			<key>CocoaLumberJackXcodeLoggingLevel</key>
			<string>00001</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Dev2</string>
		<key>displayName</key>
		<string>Development 2</string>
		<key>displayDescription</key>
		<string>Uses andev2.urbanout.com</string>
		<key>settings</key>
		<dict>
			<key>AnthroHostString</key>
			<string>andev2.urbanout.com</string>
			<key>AnthroAPIPath</key>
			<string>/api/v1/</string>
			<key>AntroHostScheme</key>
			<string>http</string>
			<key>CrittercismAPIKey</key>
			<string>536cebc9d478bc522f000003</string>
			<key>AppBoyKey</key>
			<string>b0f43a1a-ff82-4886-8d7b-5652fd3ef2e2</string>
			<key>CocoaLumberJackFileLoggingLevel</key>
			<string>00001</string>
			<key>CocoaLumberJackXcodeLoggingLevel</key>
			<string>00001</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Staging</string>
		<key>displayName</key>
		<string>Staging</string>
		<key>displayDescription</key>
		<string>Uses staging.anthropologie.com</string>
		<key>settings</key>
		<dict>
			<key>AnthroHostString</key>
			<string>staging.anthropologie.com</string>
			<key>AnthroAPIPath</key>
			<string>/api/v1/</string>
			<key>AntroHostScheme</key>
			<string>http</string>
			<key>CrittercismAPIKey</key>
			<string>536cebc9d478bc522f000003</string>
			<key>AppBoyKey</key>
			<string>b0f43a1a-ff82-4886-8d7b-5652fd3ef2e2</string>
			<key>CocoaLumberJackFileLoggingLevel</key>
			<string>00001</string>
			<key>CocoaLumberJackXcodeLoggingLevel</key>
			<string>00001</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Production</string>
		<key>displayName</key>
		<string>Production</string>
		<key>displayDescription</key>
		<string>Uses www.anthropologie.com</string>
		<key>settings</key>
		<dict>
			<key>AnthroHostString</key>
			<string>www.anthropologie.com</string>
			<key>AnthroAPIPath</key>
			<string>/api/v1/</string>
			<key>AntroHostScheme</key>
			<string>http</string>
			<key>CrittercismAPIKey</key>
			<string>536d0a658039805d21000007</string>
			<key>AppBoyKey</key>
			<string>47c7bce2-f6fd-4dab-a9f5-d3286e7d8809</string>
			<key>CocoaLumberJackFileLoggingLevel</key>
			<string>00011</string>
			<key>CocoaLumberJackXcodeLoggingLevel</key>
			<string>00011</string>
		</dict>
	</dict>
</array>
</plist>
